/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5b86e5;

    
}

/* Giriş Sayfası */
.login-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.login-container input {
    width: 91%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.login-container button {
    width: 100%;
    padding: 0.8rem;
    background-color: #5b86e5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #2d75b1;
}

.login-container .register-link {
    text-align: center;
    margin-top: 1rem;
}

.login-container .register-link a {
    color: #5b86e5;
    text-decoration: none;
}

.login-container .register-link a:hover {
    text-decoration: underline;
}
